OPENAI_API_KEY=
SECRET_KEY=
WHITEBOARD_PREVIEW_API_SUFFIX=
OPENAI_MODEL_STEP1=
OPENAI_MODEL_STEP2=
OPENAI_MODEL_STEP3=
OPENAI_TEMPERATURE=
FLASK_PORT=
FLASK_HOST_PORT=
FLASK_DEBUG=
LOOKBACK_LEN=
MAX_ATTEMPTS=