OPENAI_API_KEY=
SECRET_KEY=
WHITEBOARD_PREVIEW_API_SUFFIX=
OPENAI_MODEL=
OPENAI_TEMPERATURE=
FLASK_PORT=
FLASK_HOST_PORT=
FLASK_DEBUG=
LOOKBACK_LEN=
MAX_ATTEMPTS=
GEMINI_API_KEY=
GEMINI_MODEL=
CLAUDE_API_KEY=
CLAUDE_MODEL=

USE_AI=
